/* CSS BY JHENICA MAGANA */
/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    /* site theme colors */
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;

    /* text customizations */
    --custom-header-font: "Kavoon", sans-serif;
    --custom-text-font: 'Inter', sans-serif;
    --h1-size: 3em;
    --h2-size: 2em;
    --h3-size: 1.5em;
    --h4-size: 1.15em;
}

/* GLOBAL STYLES (mobile first/small) */
html {
    background-color: var(--lavender);
}

body {
    max-width: 450px;
    margin: 0 auto;

    background-color: var(--purple);

    color: var(--dark-gray);
    font-family: var(--custom-text-font);
}

h1, h2 {
    font-family: var(--custom-header-font);
}

h3, h4 {
    font-weight: bold;
}

/* header section */
header {
    padding: 1.5em 1em;
    text-align: center;
    color: var(--white);
}

h1 {
    font-size: var(--h1-size);
}

/* nav */
nav {
    padding: 1em 0.5em;

    background-color: var(--yellow);

    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;

}

nav h2 {
    font: var(--custom-text-font);
    font-size: 1.5em;
    font-style: italic;
}

nav li {
    margin: 0.5em;
    padding: 1em;

    background-color: var(--white);

}
nav a {
    text-decoration: none;
}

/* main */
main h2 {
    font-size: var(--h2-size);
    color: var(--white);
}

main h3 {
    padding-top: 0.5em;
    font-size: var(--h3-size);
    color: var(--yellow);
}

/* main services seciton */
main > section{
    padding: 1.5em 1.75em;
}

section.services {
    margin: 1.5em 0;
    padding: 1.75em;
    background-color: var(--white);
    border-radius: 1em;
}

h4 {
    padding: 0.5em 0;
    font-size: var(--h4-size);
    color: var(--purple);
}

p {
    line-height: 1.5em;
}

/* main pink sections */
section.pink-sections {
    background-color: var(--pink);
}

/* main why choose us section */
section.pink-sections > ul {
    margin-top: 0.75em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

section.pink-sections > ul > li {
    padding: 1.5em 1em;

    border-radius: 0.5em;

    text-align: center;
    font-weight: bold;
}

section.pink-sections > ul > li:first-child {
    background-color: var(--teal);
}

section.pink-sections > ul > li:nth-child(2) {
    background-color: var(--purple);
}

section.pink-sections > ul > li:nth-child(3) {
    background-color: var(--yellow);
}

section.pink-sections > ul > li:last-child {
    background-color: var(--white);
}

/* main pricing section */
table {
    margin: 0.5em auto;
}
table, th, td {
    border-collapse: collapse;
    border: solid 2px var(--yellow);
}

table th {
    padding: 1em 2em;
    background-color: var(--yellow);

    text-transform: uppercase;
    font-weight: bold;
}

table td {
    padding: 1em 1.5em;
    background-color: var(--white);
}

/* main take first steps section */
section.pink-sections > p {
    padding: 0.5em 0;
    color: white;
}

section.pink-sections > div {
    width: 80%;
    margin: 1em auto;
    padding: 1.25em;

    background-color: var(--white);
    border-radius: 1em;
    box-shadow: 5px 5px 5px var(--dark-gray);

    text-align: center;
}

section.pink-sections > div > a {
    color: var(--dark-gray);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

/* footer section */
footer {
    padding: 2em 1em;

    text-align: center;
}

footer > small {
    color: var(--white);
}

footer > small:first-child {
    margin-right: 2em;
}

footer > small > a {
    color: var(--white);
}